body { background-color:  #ffffff; width: 100%; position: relative;line-height:1; overflow: scroll; position: relative; margin:0px auto;  line-height:1; padding:0px 0; font-family: "Courier New", "Lucida Console", "Courier", "Times", "Arial";}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
.Main {width: 100%; background-color: transparent; text-align: center; position: relative; display: inline-block;}
.Main .MainAll {width: 100%; height: 800px; overflow: hidden;}
.Main .MainAll .MainTitle {width: 100%; position: absolute; height: 800px; top:0;left: 0; overflow: hidden;}
.Main .MainAll .MainTitle img {min-width: 100%; display: inline; width: 100%; z-index: 2;}
.Main .MainAll h1 {font-size: 200px; color: #ffffff; z-index: 100; display: inline-block; position: relative; font-weight: bold; width: 500px;}
.Main .MainAll h4 {font-size: 35px; color: #ffffff; z-index: 100; display: inline-block; position: relative; width: 500px; margin: 20px auto; text-align: left;}
.Main .MainDesc {width: 800px; margin: 50px auto;}
.Main .MainDesc p {font-size: 14px; color: #000000; text-align: left;}